@page "/"
@attribute [Authorize]

@using Microsoft.AspNetCore.Authorization
@using SmugglerCode.Blazor.UI.Components.Common
@using SmugglerCode.Blazor.UI.Components.Selectors.Dropdown

<style>
    .label {
        color: steelblue;
        font-weight: bolder;
    }
    
</style>

<div style="@CssStyles">

<Button OnClick="Increment">+</Button>
<Button OnClick="Decrement">-</Button>

<DynamicCssScope IsDynamicSize="_isDynamicSize">


        <Button Label="Test" OnClick="ToggleDynamicSize" IsVisible=_show></Button>
        <Button Label="Toggle disabled" Type="ButtonType.Alert" OnClick="Toggle" IsDisabled="false"></Button>

        <DisabledScope IsDisabled="_show">

            <TextBox @bind-Text="_customerName" IsDisabled="_show"></TextBox>

            <!--  FIRST DROPDOWN  -->
            <DropDown T="string" Items="_persons" ShowFilter="true"></DropDown>

            <DropDown T="Person" Items="_personInstances">
                <ItemTemplate Context="p">
                    <div style="display: grid; grid-template-columns: auto 1fr; gap: 2rem">
                        <img width="70" src="@p.ImageSource" />
                        <div>
                            <div style="color:deeppink">@p.Name @p.LastName</div>
                            <div>@p.Street</div>
                            <div>@p.City</div>
                        </div>

                    </div>
                </ItemTemplate>
            </DropDown>

        </DisabledScope>

    </DynamicCssScope>

</div>