@rendermode InteractiveServer

<div class="inti-calendar">

    <div class="inti-month-year">
        <i class="bi bi-chevron-left" @onclick="PreviousMonth"></i>
        <div class="calendar-month-year">@_months[CurrentMonth - 1] @CurrentYear</div>
        <i class="bi bi-chevron-right" @onclick="NextMonth"></i>
    </div>

    <!--  ROW WITH WEEK DAYS -->
    <div class="calendar-header">
        @foreach (var day in _days)
        {
            <div>@day</div>
        }
    </div>

    <!--  DAYS PART -->
    <div class="calendar-days">
        @foreach (var row in Rows)
        {
            <div>
                @foreach (var day in row.Days)
                {
                    <div class="@string.Join(" ", 
                        new[] {
                            "calendar-cell",
                            day.IsToday ? "calendar-today" : null
                        }.Where(c => c != null))">@day.Label</div>
                }
            </div>
        }

    </div>
</div>

